html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.base{
    padding: 5%;
    width: 100%;
    height: 100%;
    background-color: rgb(82, 82, 82);
}
.game{
    width: 100%;
    height: 90%;
    display: flex;
}
img{
    height: 100%;
    width: 100%;
}
.gameIn{
    align-content: center;
    width: 60%;
    height: 100%;
    text-align: center;
    background-color: rgb(129, 128, 128);
}
.player1{
    width: 20%;
}
.player2{
    width: 20%;
}
.hpBar{
    background-color: rgb(129, 128, 128);
    height: 10%;
    display: flex;
}
.txtVita{
    font-size: 17px;
    margin: 0px;
}
#btnRestart{
    text-align: center;
}
#turn{
    align-items: top;
}
#att{
    color: white;
    width: 10%;
}
#dif{
    color: white;
    width: 10%;
}
#spazioVite{
    width: 60%;
    align-items: center;
}
.hpBar .container{
    width: 20%;
}
.progress{
    width: 100%;
    height: 30px;
}