html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#introScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background: radial-gradient(circle, rgb(90, 90, 90), black 100%);
}
#introScreen h1{
    font-size: 80px;
    margin-bottom: 10%;
}
#introScreen button{
    all: unset;
    cursor: pointer;
    box-shadow: 5px 5px 9px rgba(0,0,0,0.2);
    background-color: rgb(82, 82, 82);
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    transition: background-color 1s ease, color 1s ease;
    font-family:'Franklin Gothic Medium';
    letter-spacing: 3px;
}
#introScreen button:hover {
    background-color: rgb(161, 161, 161);
    color: black;
}
.base{
    padding: 5%;
    width: 100%;
    height: 100%;
    background-color: rgb(82, 82, 82);
}
.game{
    width: 100%;
    height: 90%;
    display: flex;
}
img{
    height: 100%;
    width: 100%;
}
.gameIn{
    align-content: center;
    width: 60%;
    height: 100%;
    text-align: center;
    background-color: rgb(129, 128, 128);
}
.player1{
    width: 20%;
    background-color: rgb(161, 161, 161);
}
.player2{
    background-color: rgb(161, 161, 161);
    width: 20%;
}
.hpBar{
    height: 10%;
    display: flex;
}
.txtVita{
    font-size: 17px;
    margin: 0px;
}
#btnRestart{
    text-align: center;
}
#turn{
    align-items: top;
}
#att{
    color: white;
    width: 10%;
}
#dif{
    color: white;
    width: 10%;
}
#spazioVite{
    width: 60%;
    align-items: center;
    background-color: rgb(129, 128, 128);
    border-top: none;
}
.hpBar .container{
    border-top: 2px solid black;
    width: 20%;
    background-color: rgb(161, 161, 161);;
}
.progress{
    width: 100%;
    height: 30px;
}
/* Effetto di scrittura */
.typing {
  width: fit-content;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid rgb(255, 255, 255); /* cursore */
  font-family: monospace;
  font-size: 24px;
  animation: typing 2s steps(11) 2s infinite alternate, blink 0.5s step-end infinite;
}

@keyframes typing {
  0%   { width: 0; }
  100% { width: 11ch; }
}

@keyframes blink {
  50% { border-color: transparent }
}